.dashboard__element

.dashboard__active-account__content
	height: 50%
	display: flex
	justify-content: center
	align-items: center

.dashboard__active-account__title
	margin-bottom: 0

.dashboard__active-account__subtitle
	text-decoration: underline
	font-size: 1.2em
	margin: 0
	&:nth-of-type(2)
		font-size: 1em
		text-decoration: none
		color: #cecccc