.earnings-expenses-table__container,
.expenses-info__container
	min-height: calc(100vh - 136px) !important

.earnings-expenses-table
	th
		vertical-align: inherit !important

.earnings-expenses-table__cell
    vertical-align: inherit !important

.earnings-expenses__header
    font-size: 18px
    font-weight: 100
    min-height: 82px

.earnings-expenses__pagination
	margin-bottom: 35px