.earnings-expenses__container
	max-width: 100%
	margin-bottom: 40px
.earnings-expenses-table__container,
.expenses-info__container
	min-height: calc(100vh - 136px) !important

.earnings-expenses-table
	th
		vertical-align: inherit !important

.earnings-expenses-table__cell
    vertical-align: inherit !important

.earnings-expenses__header
    font-size: 18px
    font-weight: 100
    min-height: 82px

.earnings-expenses__pagination
	margin-bottom: 35px

.earnings-expenses-charts__header
	height: 59px
	border-top: 1px solid #dee2e6
	border-bottom: 4px solid #dee2e6
	margin-top: 4px !important
	color: rgba(0,0,0,.54)
	font-weight: 500
	display: flex
	align-items: center
	justify-content: center

.earnings-expenses__card-media

.earnings-expenses-charts__body
	border-bottom: 4px solid #dee2e6
	padding-bottom: 15px

.earnings-expenses__info-table
	border-bottom: 4px solid #dee2e6

.earnings-expenses__info-row
	display: flex
	align-items: center
	justify-content: center
	height: 48px
	border-bottom: 1px solid #dee2e6